.layout{
  height: 100%;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    color: #fff;
    font-size: 18px;
    line-height: normal;
    .logo{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .user{
      min-width: 152px;
      :hover{
        :global{
          .ant-space-item{
            color: #1677ff;
            cursor: pointer;
          }
        }
      }
      :global{
        .ant-space{
          gap: 0 !important;
          .ant-space-item:first-child{
            font-size: 22px;
            margin-right: 5px;
          }
          .ant-space-item:last-child{
            margin-top: 8px;
          }
        }
      }
    }
  }
  .breadDiv{
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    .trigger{
      margin-right: 15px;
    }
    .currentBread{
      color: #000;
      font-weight: bold;
    }
  }
  .contentMain{
    width: 100%;
    height: calc(100% - 30px);
    padding: 0 10px;
  }
  :global{
    .ant-layout-sider-collapsed{
      .ant-menu-dark .ant-menu-submenu-selected >.ant-menu-submenu-title{
        color: #1677ff;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}